.indexcard{
    display: grid;
    align-items: center;
    
 
   gap: 20px;
    margin: 30px 5px;
}
.indexcard input, button{
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid black;

}
h1{
    text-align: center;
}
#studentcard{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 10px;
}
.stdcard{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid black;
}
.stdcard h2,h3{
    margin-left: 5px;
}